// #ea8e2a
.link {
  display: flex;
  justify-content: center;
  width: 195px;
  align-items: center;
  border-radius: 3rem;
  padding: 1.5rem 2rem;
  text-decoration: none;
  color: white;
  line-height: 2.3rem;
  background-color: #ed6c03;
  transition: background-color 0.15s ease-in-out;
  &:hover {
    background-color: #db6401;
  }
  &:active {
    background-color: #db6401;
    transform: translateY(0.1rem);
  }
  .delimiter {
    width: 1px;
    height: 2.5rem;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 1.4rem;
    margin-right: 1.4rem;
  }
  span {
    font-size: 17px;
    font-weight: 600;
  }
  @media screen and (max-width: 540px) {
    margin: 1rem auto;
  }
}
