.container {
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.content {
  padding: 5rem 0;
  &__box {
    width: 100%;
  }
  &__sort {
    width: 100%;
    margin-bottom: 4rem;
  }

  &__filter {
    width: 25%;
    height: 480px;
  }
  &__cards {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
