.content {
  padding-bottom: 8rem;
  .top {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
}

.container {
  width: 90%;
  margin: 0 auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 3rem;
  row-gap: 4rem;
  @media screen and (max-width: 1440px) {
    justify-content: center;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 1rem;
  align-items: center;
  justify-items: center;

  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1070px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 725px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.products {
  display: flex;
  @media screen and (max-width: 590px) {
    flex-direction: column;
  }
}
