.content {
  padding: 5rem 8rem;
  @media screen and (max-width: 950px) {
    padding: 1rem 4rem;
  }
  @media screen and (max-width: 720px) {
    padding: 2rem 1rem;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  flex: 2;
}

.products {
  display: flex;
  @media screen and (max-width: 590px) {
    flex-direction: column;
  }
}
