.text {
  display: flex;
  flex-direction: column;
  & .top {
    font-size: 1.8rem;
    font-weight: 600;
  }
  & .bottom {
    font-size: 1.4rem;
    font-weight: 200;
  }
}

.card {
  &:hover {
    cursor: pointer;
  }
}
