.item {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2rem;
  border-top: 1px solid #e2e2e2;
  @media screen and (max-width: 650px) {
    flex-wrap: wrap;
  }
}

.img {
  margin-right: 1.5rem;
  & > img {
    width: 8rem;
    border-radius: 1rem;
  }
  @media screen and (max-width: 650px) {
    padding-left: 1rem;
  }
}

.info {
  display: flex;
  align-items: center;
  width: 40%;
  & > h2 {
    font-size: 2.2rem;
  }
  @media screen and (max-width: 550px) {
    width: 65%;
    & > h2 {
      font-size: 2rem;
    }
  }
  @media screen and (max-width: 429px) {
    width: 60%;
    & > h2 {
      font-size: 1.8rem;
    }
  }
  @media screen and (max-width: 415px) {
    width: 53%;
    & > h2 {
      font-size: 1.6rem;
    }
  }
}

.count {
  width: 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > b {
    font-size: 2rem;
    font-weight: bold;
  }
  @media screen and (max-width: 650px) {
    min-width: 50%;
    justify-content: start;
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  & > b {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.06rem;
  }
  @media screen and (max-width: 650px) {
    min-width: 50%;
    justify-content: end;
  }
}

.remove {
  position: absolute;
  right: 0;
  @media screen and (max-width: 650px) {
    top: 1rem;
  }
}

//13% 33% 4%
